.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
}

.padding-top {
    padding-top: 20px;
}

.card-skills {
    text-align: start;
    padding-bottom: 10px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 150px;
    margin-top: 10px;
}

.center-row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 350px;
}

.card-skills>a {
    border-radius: 8px;
    border-color: darkgray;
    color: white;
    background-color: darkgrey;
    border-style: dotted;
    padding: 1.5px;
}